extends common/_layout

block vars
  -
      var page = {
          title: 'home'
      }


block contents
    h2 #{page.title}
    div homeddda999acc00cccccおおdd
    div
        a(href="/about/") about