*
  box-sizing border-box
  -webkit-overflow-scrolling touch //スマホのスムーズスクロール
  &::before
    box-sizing border-box
  &::after
    box-sizing border-box
body
  padding 0
  margin 0
  font-feature-settings 'palt' //自動カーニング
  text-size-adjust 100% //スマホ横向き自動拡大無効

button,
label
  cursor pointer //マウスカーソル指アイコン

figure
  display block